In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
%matplotlib notebook

In [2]:
!pwd

/Users/Princess/Personal_projects/Readmission_proj

In [3]:
df = pd.read_csv('diabetic_readmission_data.csv')
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
df.isna().any().any() #to find any nan values

False

In [6]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [7]:
for column in df:
#     print(column)
#     print(counter)
    counter = 0
    for element in df[column]:
        #print(row)
        if element == '?':
            counter += 1
    print('{} : {}'.format(column, counter))

encounter_id : 0
patient_nbr : 0
race : 2273
gender : 0
age : 0
weight : 98569
admission_type_id : 0
discharge_disposition_id : 0
admission_source_id : 0
time_in_hospital : 0
payer_code : 40256
medical_specialty : 49949
num_lab_procedures : 0
num_procedures : 0
num_medications : 0
number_outpatient : 0
number_emergency : 0
number_inpatient : 0
diag_1 : 21
diag_2 : 358
diag_3 : 1423
number_diagnoses : 0
max_glu_serum : 0
A1Cresult : 0
metformin : 0
repaglinide : 0
nateglinide : 0
chlorpropamide : 0
glimepiride : 0
acetohexamide : 0
glipizide : 0
glyburide : 0
tolbutamide : 0
pioglitazone : 0
rosiglitazone : 0
acarbose : 0
miglitol : 0
troglitazone : 0
tolazamide : 0
examide : 0
citoglipton : 0
insulin : 0
glyburide-metformin : 0
glipizide-metformin : 0
glimepiride-pioglitazone : 0
metformin-rosiglitazone : 0
metformin-pioglitazone : 0
change : 0
diabetesMed : 0
readmitted : 0

In [8]:
for column in df:
#     print(column)
#     print(counter)
    counter = 0
    for element in df[column]:
        #print(row)
        if element == 'No':
            counter += 1
    print('{} : {}'.format(column, counter))

encounter_id : 0
patient_nbr : 0
race : 0
gender : 0
age : 0
weight : 0
admission_type_id : 0
discharge_disposition_id : 0
admission_source_id : 0
time_in_hospital : 0
payer_code : 0
medical_specialty : 0
num_lab_procedures : 0
num_procedures : 0
num_medications : 0
number_outpatient : 0
number_emergency : 0
number_inpatient : 0
diag_1 : 0
diag_2 : 0
diag_3 : 0
number_diagnoses : 0
max_glu_serum : 0
A1Cresult : 0
metformin : 81778
repaglinide : 100227
nateglinide : 101063
chlorpropamide : 101680
glimepiride : 96575
acetohexamide : 101765
glipizide : 89080
glyburide : 91116
tolbutamide : 101743
pioglitazone : 94438
rosiglitazone : 95401
acarbose : 101458
miglitol : 101728
troglitazone : 101763
tolazamide : 101727
examide : 101766
citoglipton : 101766
insulin : 47383
glyburide-metformin : 101060
glipizide-metformin : 101753
glimepiride-pioglitazone : 101765
metformin-rosiglitazone : 101764
metformin-pioglitazone : 101765
change : 54755
diabetesMed : 23403
readmitted : 0

In [9]:
df.drop(['weight', 'payer_code', 'patient_nbr', 'medical_specialty', 'examide', 'citoglipton', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 
         'metformin-pioglitazone', 'acetohexamide', 'troglitazone' ], axis = 1, inplace = True)
df.head(10)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,No,No,No,Up,No,No,Ch,Yes,NO
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
5,35754,Caucasian,Male,[50-60),2,1,2,3,31,6,...,No,No,No,No,Steady,No,No,No,Yes,>30
6,55842,Caucasian,Male,[60-70),3,1,2,4,70,1,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
7,63768,Caucasian,Male,[70-80),1,1,7,5,73,0,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,Caucasian,Female,[80-90),2,1,4,13,68,2,...,No,No,No,No,Steady,No,No,Ch,Yes,NO
9,15738,Caucasian,Female,[90-100),3,3,4,12,33,3,...,Steady,No,No,No,Steady,No,No,Ch,Yes,NO

In [10]:
df['readmitted'] = df['readmitted'].map(lambda x: 2 if x=='>30' else (1 if x=='<30' else 0))
df.readmitted = df.readmitted.astype('int64')
df.head()

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,1,41,0,...,No,No,No,No,No,No,No,No,No,0
1,149190,Caucasian,Female,[10-20),1,1,7,3,59,0,...,No,No,No,No,Up,No,No,Ch,Yes,2
2,64410,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,...,No,No,No,No,No,No,No,No,Yes,0
3,500364,Caucasian,Male,[30-40),1,1,7,2,44,1,...,No,No,No,No,Up,No,No,Ch,Yes,0
4,16680,Caucasian,Male,[40-50),1,1,7,1,51,0,...,No,No,No,No,Steady,No,No,Ch,Yes,0

In [12]:
indexes_to_drop = []
for col in df:
    for index, row in enumerate(df[col]):
        #print(index, row)
        if row == '?':
            indexes_to_drop.append(index)
print(len(indexes_to_drop))
df.drop(index= indexes_to_drop, inplace = True)
df.shape

4075

(98053, 39)

In [ ]:
#to_drop = df[df['race'] == '?']
#df.drop(to_drop.index, axis=0, inplace=True)

#to_drop = df[df['diag_1'] == '?']
#df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_1 = df.diag_1.astype('float')

#to_drop = df[df['diag_2'] == '?']
#df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_2 = df.diag_2.astype('float')

#to_drop = df[df['diag_3'] == '?']
#df.drop(to_drop.index, axis=0, inplace=True)
#df.diag_3 = df.diag_3.astype('float')

In [14]:
df['diag_1'].str.startswith('V').sum()
for col

1600

In [ ]:
df.info()

In [ ]:
race_list = df.index[df['gender'] == '?'].tolist()
print(len(race_list))

In [ ]:
for each in df["encounter_id"][0:5]:
    print(type(each))

In [ ]:
df.drop

In [ ]:
df['race'].value_counts()

In [ ]:
df['num_procedures'].unique()

In [ ]:
df.groupby(['race', 'readmitted'])['readmitted'].count()

In [ ]:
df.groupby(['age','readmitted']).count()

In [ ]:
df['age'].unique()